snippet al "alias"
function ${1:command_name} { ${2:commands} $args }; Set-Alias ${3:alias_name} ${1}
endsnippet

snippet setenv "set environment valiable"
$env:${1:env_name}="${2:env_value}"
endsnippet

snippet appendenv "append environment valiable"
$env:${1:env_name}+="${2:env_value}"
endsnippet
